#######################
### COMPILED SOURCE ###
#######################
*.pyc
*.swp
*.scratch*
*INTERNAL*

#################
### DATABASES ###
#################
*.db
*.scratch/

__dev_/lnp_emulator.ipynb
olympus/src/olympus/datasets/dataset_lnp/
olympus/src/olympus/emulators/emulator_lnp_BayesNeuralNet/



############
### LOGS ###
############
*.log
*olympus*.pkl

#############
# DEBUGGING #
#############
# __DEV_/
rileys_tests/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# pycharm stuff
.idea/

# ipynb checkpoints
*.ipynb_checkpoints/

# files created by planners
outcmaes/
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/__init__.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/acq_func.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/base_models.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/bro.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/chem_utils.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/encode.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/feature_selection.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/init_scheme.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/models.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/objective.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/feature_utils.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/utils.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/torch_utils.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/pd_utils.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/opt_utils.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/math_utils.py
case_studies/case_study_pwas/z_comparisonStudy/crossed_barrel/edbo/plot_utils.py
